/* FONTES */
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600&display=swap');
      /*TEXTOS: font-family: 'Baloo 2', cursive;*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300;1,400&display=swap');
      /* font-family: 'Roboto', sans-serif; */

*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #FFFFFC;
}

.header{
  margin-top: 30px;
  text-align:center;
}

h1 {
  font-size: 40px;
  font-family: 'Baloo 2', cursive;
  font-weight: bold;
}

h2{
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
  color: #F40076;
}

/* 
p{
  font-family: 'Baloo 2', cursive;
  color: white;
} */

/* CANVAS */
#phaser-div{
  margin: 50px;
  text-align: center; 
}

/* TEXT FORMAT CANVAS */
#container{
  width: 45%;
  margin: auto;
  padding: 10px;
}

/* RODAPÉ */
footer > .container{
  background-color: #36827F;
  border-radius: 30px 30px 0 0;
  padding: 25px 30px;

  text-align: center;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;

  /* position: fixed;
  bottom: 0; */
}

.desenvolvedora{
  background-color: #F40076;
  padding: 15px;
  border-radius: 20px;
}

.desenvolvedora > img{
  width: 200px;
  height: 230px;
  object-fit: cover;
  border-radius: 15px;
  cursor:pointer;
}

.desenvolvedora > img:hover{
  filter: grayscale(1);
}

.socials > a > img{
  height: 40px;
  width: 40px;
}

.desenvolvedora > h2{
  color:#F6EAF3;
}

.textoSobreNos{
  width: 500px;
}

.textoSobreNos > h3{
  font-size: 20px;
  color: #FFFFFC;
  font-family: 'Baloo 2', cursive;
}

.textoSobreNos > p{
  color: #F6EAF3;
  font-family: 'Roboto', sans-serif;
}

/* 
#rodapeTxt{
  font-family: 'Baloo 2', cursive;
  font-weight:bold;
  font-size: 26px;
  color: white;
  text-align: center;
  margin: 35px 25px 0 30px;
} */