/* FONTES */
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600&display=swap');
      /*TEXTOS: font-family: 'Baloo 2', cursive;*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300;1,400&display=swap');
      /* font-family: 'Roboto', sans-serif; */

*{
  margin: 0;
  padding: 0;
}

body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  background-color: #fffbef;
}

h1 {
  font-size: 40px;
  font-family: 'Baloo 2', cursive;
  font-weight: bold;
  color: white;
}

h2{
  font-size: 25px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: white;
}

/* CANVAS */
#canvas{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.canvas-wrapper{
  border-radius: 20px;
  margin: 40px 0; 
  width: 600px;
  padding-top: 20px;
  padding-bottom: 10px;
  cursor: pointer;

  background-color: #3BCEAC;
}

.canvas-wrapper:hover{
  background-color: #66eccd;
}

#phaser-div{
  text-align: center; 
}

.bottom-canvas{
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

/* NAV-BAR */
nav{
  padding: 5px 0;
  width:100%;
  background-color: #FFD23F;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 300px;
}

nav img{
  height: 70px;
}

.navegacao{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-right: 20px;
}

.navegacao > a {
  color: white;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

.navegacao > a:hover{
  color:#EE4266
}

#info-projeto{
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

/* RODAPÉ */
footer{
  margin-top: auto;
  background-color: #FFD23F;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  position:static;
  bottom: 0;
}

footer > p{
  padding: 15px 40px;
}